<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coquito Amarillo - Bienvenida</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}?v=1.0">
</head>
<body>

    <!-- Menú de navegación -->
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Inicio</a></li>
            <li><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
            <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
           <li><a href="{{ url_for('mostrar_formulario') }}">Evaluacion</a></li> 
        </ul>
    </nav>

    <!-- Contenido principal -->
    <header>
        <main>
            <h1>Bienvenido a Coquito Amarillo</h1>
            <p>Un espacio de innovación y aprendizaje</p>
        </main>
    </header>

    <!-- Pie de página -->
    <footer>
        <p>&copy; 2025 Coquito Amarillo - Todos los derechos reservados.</p>
    </footer>

</body>
</html>
