<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Coquito Amarillo</title>
    <link rel="stylesheet" href="../static/css/style.css">  
</head>
<body>
    
    <nav>
        <ul>
            <li><a href="{{ url_for('home') }}">Inicio</a></li>
            <li><a href="{{ url_for('nosotros') }}">Nosotros</a></li>
            <li><a href="{{ url_for('contacto') }}">Contacto</a></li>
           <li><a href="{{ url_for('mostrar_formulario') }}">Evaluacion</a></li> 
        </ul>
    </nav>
    
    <main>
        <section class="nosotros">
            <h1>Sobre Nosotros</h1>
            <p><strong>Misión:</strong> Fomentar el crecimiento y bienestar de nuestros colaboradores a través de herramientas innovadoras.</p>
            <p><strong>Visión:</strong> Ser un referente en el desarrollo personal y profesional dentro de un entorno colaborativo.</p>
            <p><strong>Valores:</strong> Integridad, compromiso, innovación y bienestar.</p>
        </section>
    </main>


    <footer>
        <p>&copy; 2025 Coquito Amarillo - Todos los derechos reservados.</p>
    </footer>
</body>
</html>
